Repository Asiatik/codezilla, pull requests merged in 2018-10, with the labels that each got.

#209 Added python implementation of stack
  Data Structures/Stack/Python/stack.py
Labels: Python, good first issue

#211 Implement Insertion sort (Python)
  Sorting/Insertion Sort/Python/insertion_sort.py
Labels: Hacktoberfest, Python

#103 Readme about Quick sort
  Sorting/Quick Sort/Readme.md
Labels: docs, good first issue

#213 Added python implementation of heap sort
  Sorting/Heap Sort/Python/HeapSort.py
Labels: good first issue, python

#116 Implement Standard and Circular Queue (C++)
  Data Structures/Queue/C++/CircularQueue/CircularQueue.cpp
  Data Structures/Queue/C++/CircularQueue/CircularQueue.hpp
  Data Structures/Queue/C++/CircularQueue/CircularQueueIntImpl.cpp
  Data Structures/Queue/C++/StandardQueue/SimpleQueue.cpp
  Data Structures/Queue/C++/StandardQueue/SimpleQueue.hpp
  Data Structures/Queue/C++/StandardQueue/SimpleQueueIntImpl.cpp
  Data Structures/Queue/C++/Test/Makefile
  Data Structures/Queue/C++/Test/test.cpp
  Data Structures/Queue/C++/resources/Exceptions.hpp
  Data Structures/Queue/C++/resources/Queue.hpp
Labels: c++
